body {
    margin: 0;
    padding: 0;
    background: url(../img/Fondo.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .log {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);    
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    pad: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box button{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  .login-box button[type="submit"] {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .login-box button[type="submit"]:hover{
    background:#b9b7b7;
    color: rgb(255, 255, 255);
    transform: scale(1.1);

  }